<div class="container-fluid bg-3 text-center">
  <br>
  <h4>Calcule sua aposentadoria</h4>
  <br>
  <form [formGroup]="formCalcula" (ngSubmit)="calcular()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Data de nascimento:</mat-label>
        <input formControlName="nascimentoAtual" matInput [matDatepicker]="picker" required >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label class="meuInput">Selecione o sexo</mat-label>
        <mat-select formControlName="sexo" required >
          <mat-option value="feminino">Feminino</mat-option>
          <mat-option value="masculino">Masculino</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label class="meuInput">Selecione categoria especial</mat-label>
        <mat-select formControlName="categoria" required >
          <mat-option value="nenhum" ngDefaultControl="true">Nenhum</mat-option>
          <mat-option value="professor">Professor</mat-option>
          <mat-option value="policial">Policial</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label class="meuInput">Iniciou contribuição <br/>antes de 12/nov/2019?</mat-label>
        <mat-select formControlName="entrouAntes" required>
          <mat-option value="sim" ngDefaultControl="true">Sim</mat-option>
          <mat-option value="nao">Não</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label class="meuInput">Tempo de contribuição - anos</mat-label>
        <input formControlName="tempoContribuicao" matInput type="number" min="0" max="60">
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button [disabled]="!formCalcula.valid">Calcular</button>
  </form>
<br> 

</div>
<div class="container-fluid bg-3" *ngIf="mostrar_tabela">
  <table class="table table-striped">
    <tr class="titulo">
      <td colspan="2">
        <b>Verifique a regra mais benéfica. Mas lembre-se: o cálculo do benefício segue outra regra.</b>
      </td>
    </tr>
    <tr class="conteudo">
      <td [noWrap]="true"><b>Regra Geral:</b></td>
      <td>
        {{mensagemRegraGeral}}
        <button mat-raised-button 
                matTooltip="{{mensagemDetalheRegraGeral}}"
                matTooltipPosition="after"><i class="material-icons icon">info</i>
              </button>
      </td>
    </tr>
    <tr class="conteudo">
      <td [noWrap]="true"><b>Tansição por pontos:</b></td>
      <td>
        {{mensagemPontos}}
        <button mat-raised-button 
                matTooltip="{{mensagemDetalhePontos}}"
                matTooltipPosition="after"><i class="material-icons icon">info</i>
              </button>
      </td>
    </tr>
    <tr class="conteudo">
      <td [noWrap]="true"><b>Tansição por tempo e idade mínimos:</b></td>
      <td>
        {{mensagemTempoMinimoIdadeMinima}}
        <button mat-raised-button 
                matTooltip="{{mensagemDetalheTempoMinimoIdadeMinima}}"
                matTooltipPosition="after"><i class="material-icons icon">info</i>
              </button>
      </td>
    </tr>
    <tr class="conteudo">
      <td [noWrap]="true"><b>Tansição com fator previdenciário:</b></td>
      <td>
        {{mensagemFatorPrevidenciarioPedagio}}
        <button mat-raised-button 
                matTooltip="{{mensagemDetalheFatorPrevidenciarioPedagio}}"
                matTooltipPosition="after"><i class="material-icons icon">info</i>
              </button>
      </td>
    </tr>
    <tr class="conteudo">
      <td [noWrap]="true"><b>Tansição com 100% de pedágio:</b></td>
      <td>
        {{mensagemIdadeMinimaPedagioCompleto}}
        <button mat-raised-button 
                matTooltip="{{mensagemDetalheIdadeMinimaPedagioCompleto}}"
                matTooltipPosition="after"><i class="material-icons icon">info</i>
              </button>
        </td>
    </tr>
  </table> 
  <p>Para maiores esclarecimentos, entre em contato conosco. Você terá um atendimento personalizado!</p>
</div>

