<div class="container-fluid bg-4 text-left">
  <div class="container">
    <address class="row">
      <div class="col-sm">
        <p>Escritório de Advocacia Previdenciária</p>
        <p><i class="material-icons">location_on</i>&nbsp;<a href="https://www.google.com.br">Link no Google Maps</a></p>
      </div>
      <div class="col-sm">
        <p><i class="material-icons">call</i>&nbsp;<a href="tel:+556112345678">(61) 1234-5678</a></p>
        <p><i class="material-icons">mail</i>&nbsp;<a href="mailto:emailDaEmpresa@dominioEmpresa.com.br">emailDaEmpresa@dominio.com.br</a></p>
      </div>
    </address>
  </div>
</div>
