<div class="container-fluid bg-3 text-center">
  <br>
  <h4>Calcule sua aposentadoria</h4>
  <br>
  <form (ngSubmit)="calcular()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Data de nascimento:</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="nascimentoAtual" [ngModelOptions]="{standalone: true}" (ngModelChange)="selecionaData()">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Selecione o sexo</mat-label>
          <mat-select [(ngModel)]="sexo" [ngModelOptions]="{standalone: true}">
            <mat-option value="feminino">Feminino</mat-option>
            <mat-option value="masculino">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>dias até 13/11/2019</mat-label>
          <mat-hint>Tempo de contribuição</mat-hint>
          <input matInput [(ngModel)]="tempoContribuiAntesInformado" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>dias após 13/11/2019</mat-label>
          <mat-hint>Tempo de contribuição</mat-hint>
          <input matInput [(ngModel)]="tempoContribuiAposInformado" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" mat-raised-button>Calcular</button>
      </div>
    </div>
  </form>
<br>
  <!-- <p>
    <span small>Data atual: {{getFormattedDate()}}</span>
  </p> -->
</div>