body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #054b17;
	text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #f5f6f8;
	font-weight: bold;
	text-align: left;
}

.bg-5 {
    background-color: #2f2f2f;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: 3px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}