<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Calculadora</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
  <div id="page-wrap">
  <div id="max-width-colum" class="container-fluid ">
    <div class="fixed-top">
      <app-nav-bar></app-nav-bar>
    </div>
    <div id="content-wrap">
      <section id = "informacao">
        <div class="container-fluid text-center">
          <app-informacao></app-informacao>
        </div>
      </section>
      <section id = "calculadora">
        <div class="container-fluid text-center">
          <app-calculadora></app-calculadora>
        </div>
      </section>
      <section id = "contato">
        <div class="container-fluid text-center">
          <app-contato></app-contato>
        </div>
      </section>
      <!--router-outlet></router-outlet-->
    </div>
    <div id="max-width-colum">
      <footer class="container-fluid bg-5 text-center">
        <p>Dados acessados em {{getFormattedDate()}}</p>
      </footer>
    </div>
  </div>
</div>
</html>