<div class="container-fluid bg-4 text-left">
  <div class="container">
    <address class="row">
      <div class="col-sm">
        <p>Escritório de Advocacia Previdenciária</p>
        <p><i class="bi bi-geo-alt-fill mr-2"></i><a href="https://www.google.com.br">LInk do Google Maps <br> &nbsp;&nbsp;&nbsp;Localização por escrito.</a></p>
      </div>
      <div class="col-sm">
        <p><i class="bi bi-telephone-fill mr-2 editar" ></i><a href="tel:+556112345678">(61) 1234-5678</a></p>
        <p><i class="bi bi-envelope-fill mr-2 editar"></i><a href="mailto:emailDaEmpresa@dominioEmpresa.com.br">emailDaEmpresa@dominioEmpresa.com.br</a></p>
      </div>
    </address>
  </div>
</div>
