<div class="container-fluid bg-1 text-center" >
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="container-fluid bg-2 text-left">
    <h2>As novas regras previdenciárias</h2>
    <p>
        As regras entraram em vigor a partir da publicação da <a href="http://www.in.gov.br/en/web/dou/-/emenda-constitucional-n-103-227649622">emenda contitucional nº103/2019</a> 
        em 13 de novembro de 2019. As alterações impactam os segurados pelo Regime Geral de Previdência Social (RGPS) e pelo Regime Próprio de Previdênncia Social (RPPS) da União.
    </p>
    <p>
        Se você é um trabalhador CLT, trabalhador autônomo, ou servidor de um município que não tenha sistema previdenciário próprio e quer entender como fica sua situação, você veio ao lugar certo!
    </p>
    <p>
        As principais mudanças são: idade mínima e tempo de contribuição. Entretanto também houve mudança no cálculo do benefício. Vamos entender?
    </p>
    <br>
    <br>
    <h4>Idade mínima e tempo de contribuição</h4>
    <p>
        A regra geral do Regime Geral de Previdência Social (RGPS) passa a exigir das mulheres, pelo menos 62 anos de idade e 15 anos de contribuição e, para os homens, 65 anos de idade e 20 anos de contribuição.
    </p>
    <p>
        Para homens que se filiaram ao RGPS antes da emenda, o tempo mínimo de contribuição permanece 15 anos.
    </p>
    <br>
    <h5>Categorias especiais:</h5>
    <h5>Professores</h5>
    <ul>
        <li>Comprovar efetivo exercício nas funções de magistério (educação infantil, fundamental e ensino médio)</li>
        <li>Tempo de contribuição: 25 anos para homens e mulheres</li>
        <li>Idade mínima: 57 anos para as mulheres e 60 anos para os homens.</li>
    </ul>

    <h5>Policiais</h5>
    <ul>
        <li>Idade mínima: 55 anos para homens e mulheres</li>
        <li>Tempo de contribuição: 25 anos para homens e mulheres</li>
    </ul>
<br>
<br>
    <h4>Cálculo do benefício</h4>
    <p>
        O cálculo do benefício é uma média dos valores contribuídos ao longo de toda a vida do trabalhador. São consideradas as contribuições pervidenciárias realizadas a partir de julho de 1994.
    </p>
    <p>
        Ao atingir a <b>idade e o tempo de contribuição mínimos</b>, os trabalhadores do RGPS poderão se aposentar com 60% da média de todas as contribuições.
    </p>
    <p>
        O trabalhador somente se aposentará com o valor total da contribuição, se contribuir por 35 anos no caso das mulheres, e 40 anos, no caso dos homens.
    </p>
        <ul>
            <li>A cada ano de contribuição além do mínimo exigido, acrescenta-se 2 pontos percentuais aos 60% já atingidos.</li>
            <li>O valor do salário mínimo será o limite inferior do cálculo final</li>
            <li>O valor do teto do RGPS será o limite máximo do cálculo final</li>
            <ul>
                <li>Homens que contribuam acima de 40 anos e mulheres que contribuam além de 35, poderão alcançar média superior a 100%. Mas, ainda assim, não ulrapassarão o teto do RGPS</li>
            </ul>
        </ul>     
        <br>
        <br>
    <h4>Regras de Transição no RGPS</h4>
    <br>
    <h5>Transição por sistema de pontos</h5>
    <p>
        Soma-se a idade com o tempo de contribuição. Se a mulher atingir 86 pontos ou o homem atingir 96 anos, já poderia se aposentar em 2019.</p>
    <p>
        A pontuação mínima será aumentada a cada ano chegando a 105 pontos em 2028 para os homens e em 100 pontos para mulheres em 2033.
    </p>
    <ul>
        <li>Professores sofrem modulação da regra de modo que em 2019, homens se aposentavam com 91 pontos e mulheres com 81. A pontuação máxima será de 92 pontos para as mulheres e 100 para os homens.</li>
    </ul>
    <p>
        O valor do benefício seguirá a regra geral de cálculo da Nova Previdência.
    </p>
    <br>
    <h5>Transição por tempo de contribuição e idade mínima</h5>
    <p>
        Se a mulher tivesse atingido 56 anos de idade e 30 anos de contribuição, poderia ter se aposentados já em 2019. Da mesma forma, podiam se aposentar os homens que atingiram 61 anos de idade e 35 de contribuição.
    </p>
    <p>
        A idade mínima será aumentada em 6 meses a cada ano até que se atinja 62 anos para mulheres e 65 para homens.
    </p>
    <ul>
        <li>Professores sofrem modulação da regra de modo que em 2019, homens se aposentavam com 56 anos de idade e mulheres com 51.</li>
    </ul>
    <p>
        O valor do benefício seguirá a regra geral de cálculo da Nova Previdência.
    </p>
<br>
    <h5>Transição com fator previdenciário - pedágio de 50%</h5>
    <p>
        Mulheres com mais de 28 de contribuição e homens com mais de 33 anos podem optar por não atingirem a idade mínima desde que cumpram um pedágio de 50% do tempo que ainda faltaria para atingirem o tempo de contribuição previsto na regra geral (30 anos para mulheres e 35 anos para homens).
    </p>
    <ul>
        <li>O pedágio só passa a ser contado após o atingimento do tempo de contribuição da regra geral.</li>
    </ul>
    <p>
        O valor do benefício seguirá a regra geral de cálculo da Nova Previdência, mas se aplicará o fator previdenciário.
    </p>
    <br>
    <h5>Transição com idade mínima e pedágio de 100%</h5>
    <p>
        Aqui o cáculo prevê uma idade mínima e, a partir daí, um pedágio de 100% do tempo que ainda fataria de contribuiçãop.
    </p>
    <ul>
        <p>Todas as categorias</p>
        <li>Tempo de contribuição: 30 anos para mulheres e 35 anos para homens</li>
        <li>Idade mínima: 57 anos para mulheres e 60 anos para homens</li>
    </ul>
    <ul>
        <p>Professores</p>
        <li>Tempo de contribuição: 25 anos para mulheres e 30 anos para homens</li>
        <li>Idade mínima: 52 anos para mulheres e 55 anos para homens</li>
    </ul>
    <p>
        O valor do benefício seguirá a regra geral de cálculo da Nova Previdência.
    </p>
<br>
<br>
</div>