nav{
    background-color: #caaf9fbd;
}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #caaf9fbd; /* Salmão */
    float: right;
}
    
li a {
    display: inline;
    color: #3a1902;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #3a1902;
    color: #ffffff;
}

