<nav class="navbar navbar-default navbar-expand-lg container-fluid">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <a routerLInk="informacao">
                <h1 id="app-heading">Informações</h1>
            </a>
            <a routerLInk="calculadora">
                <h1 id="app-heading">Calculadora</h1>
            </a>
            <a routerLInk="contato">
                <h1 id="app-heading">Contatos</h1>
            </a>
        </button>
        <a class="navbar-brand" href="#">Início</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li><a class = "nav-link" href="#informacao">Informações</a></li>
            <li><a class = "nav-link" href="#calculadora">Calculadora</a></li>
            <li><a class = "nav-link" href="#contato">Contatos</a></li>
        </ul>
      </div>
    </div>
  </nav>